<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332669612661-q0dskovqd0slsagd7sijrn97lcudtmkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332669612661-q0dskovqd0slsagd7sijrn97lcudtmkt</string>
	<key>API_KEY</key>
	<string>AIzaSyC9hK-pjt3_--YaqG1Ph73JTjXecBTPlcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>332669612661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dr-Abdulaziz-ALhamoud.Salma</string>
	<key>PROJECT_ID</key>
	<string>salma-wcsda</string>
	<key>STORAGE_BUCKET</key>
	<string>salma-wcsda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332669612661:ios:cfb088dec7f7225582be3c</string>
</dict>
</plist>